#block_form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/proxy/EiK-HuD4rrm-HvjxiAACImmCCbsFSdFGz_1FnAipYB7liY-5OzYTCRb5lcyV0Xbiu9-wTY1tAbMr7zr_BrEEZWzg317ok77fW4F18z5b8LtjsnuTg4UfTZ0t0JFt1BbXQoDs_xw);
    height: 1080px;

}
#form
{
 border: black solid 2px;
 padding: 25px;
 background-color: rgba(0, 0, 0, 0.75);
 color: white;
 box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
 margin-top:20px
}
