<div id="block_info" *ngIf="currentUser; else loggedOut">

  <h3>
    Profile de : <strong> {{ currentUser.username }}</strong> </h3>
  <div id="info">
    <p>
      <strong>Ton age:</strong>
      {{ currentUser.date }}
    </p>
    <p>
      <strong>Ton email:</strong>
      {{ currentUser.email }}
    </p>

    <p>
      <strong>ton sexe:</strong>
      {{ currentUser.genre }}
    </p>


    <p>
      <strong>tu es : </strong>
      {{ currentUser.food }}
    </p>


    <p>
      <strong>Tu es un : </strong>
      {{ currentUser.family }}
    </p>
  </div>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
