#info
{
 border: black solid 2px;
 padding: 25px;
 background-color: rgba(0, 0, 0, 0.75);
 color: white;
 box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#block_info
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://mediat.ca/wp-content/uploads/2017/04/Schtroumpfs-wallpaper.jpg);
  height: 1080px;


}

h3{
  border: black solid 2px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
  margin-bottom:20px;
}
