<div id="block_form" >
  <div class="card card-container" id="form">

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
      <div class="form-group">
        <label for="username">Ton Pseudo</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
          maxlength="20" #username="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Ton pseudo est requis</div>
          <div *ngIf="username.errors.minlength">
            Ton pseudo doit avoir plus de 3 caractères
          </div>
          <div *ngIf="username.errors.maxlength">
            Ton pseudo doit avoir moins de 20 carectères
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Ton Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
          #email="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Ton email est requis</div>
          <div *ngIf="email.errors.email">
            Ton email doit étre une adresse mail valide
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Ton mot de passe</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Ton mot de passe est requis</div>
          <div *ngIf="password.errors.minlength">
            Ton mot de passe doit avoir plus de 6 caractères
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="age">Ton âge</label>
        <input class="form-control" name="age" [(ngModel)]="form.date" #date="ngModel" />
      </div>


      <div class="form-group">
        <div class="form-check">
          <p> Ton sexe : </p>
          <ul>
            <li><input type="radio" class="form-check-input" value=" schtroumpf" name="gender" [(ngModel)]="form.gender"
                #gender="ngModel" />
              <label class="form-check-label" for="schtroumpf">schtroumpf</label></li>
            <li><input type="radio" class="form-check-input" value=" schtroumpfette" name="gender"
                [(ngModel)]="form.gender" #gender="ngModel" />
              <label class="form-check-label" for="schtroumpfette">schtroumpfette</label></li>
            <li><input type="radio" class="form-check-input" value=" autreschtroumpf" name="gender"
                [(ngModel)]="form.gender" #gender="ngModel" />
              <label class="form-check-label" for="autreschtroumpf">autreschtroumpf</label></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <p> Tu es : </p>
          <ul>
            <li>
              <input type="radio" class="form-check-input" value=" Flexitarien" name="food" [(ngModel)]="form.food"
                #food="ngModel" />
                <label class="form-check-label" for="Flexitarien">Flexitarien</label></li>
            <li>
              <input type="radio" class="form-check-input" value=" Vegetarien" name="food" [(ngModel)]="form.food"
                #food="ngModel" />
                <label class="form-check-label" for="Vegetarien">Vegetarien</label></li>
            <li>
              <input type="radio" class="form-check-input" value=" Végan" name="food" [(ngModel)]="form.food"
                #food="ngModel" />
                <label class="form-check-label" for="Végan">Végan</label></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <p> Tu es un : </p>
          <ul>
            <li>
              <input type="radio" class="form-check-input" value=" courant " name="family" [(ngModel)]="form.family"
                #family="ngModel" />
              <label class="form-check-label" for="Schtroumpf courant ">Schtroumpf courant
              </label></li>
            <li>
              <input type="radio" class="form-check-input" value="boudeur" name="family" [(ngModel)]="form.family"
                #family="ngModel" />
              <label class="form-check-label" for="boudeur">Schtroumpf boudeur</label></li>
            <li>
              <input type="radio" class="form-check-input" value="gourmand" name="family" [(ngModel)]="form.family"
                #family="ngModel" />
              <label class="form-check-label" for="gourmant">Schtroumpf gourmant</label></li>
            <li>
              <input type="radio" class="form-check-input" value="bricoleur" name="family" [(ngModel)]="form.family"
                #family="ngModel" />
              <label class="form-check-label" for="bricoleur">Schtroumpf bricoleur</label></li>
            <li>
              <input type="radio" class="form-check-input" value="Schtroumpf grognon" name="family"
                [(ngModel)]="form.family" #family="ngModel" /><label class="form-check-label" for="grognon">Schtroumpf
                grognon</label>
            </li>
            <li>
              <input type="radio" class="form-check-input" value="Schtroumpf amoureux" name="family"
                [(ngModel)]="form.family" #family="ngModel" />
              <label class="form-check-label" for="amoureux">Schtroumpf amoureux</label></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">S'enregistré</button>
      </div>


      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Enregistrement Raté!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Ton enregistrement a réussi!
    </div>
  </div>
</div>
