#block_form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://dessins-animes.e-monsite.com/medias/images/fond-ecran-hd-schtroumpf-costaud-porte-schtroumpf-lunettes.jpg);
    height: 1080px;
}

#form{
 border: black solid 2px;
 padding: 25px;
 background-color: rgba(0, 0, 0, 0.75);
 color: white;
 box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
 margin-top:20px;
}
